* {
    padding: 0px;
    margin: 0px;
}

*, :after, :before {
    box-sizing: border-box;
}

.nav {
    height: 81.4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.nav__content {
    width: 1120px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.nav__inside {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__link ul li {
    display: inline;
    list-style: none;
}

.nav__link ul li a {
    text-decoration: none;
    margin-left: 10px;
}

.nav__sign {
    width: 222.038px;
    margin-left: 111.725px;
    margin-right: 24px;
}

.header {
    height: 258px;
    padding-top: 30px;
    width: 100%;
    position: relative;
    background-color: rgb(240, 245, 255);

}

.header__flex {
    display: flex;
    max-width: 1200px;
    height: 100%;
    padding: 0 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.header__details {
    flex: 0 1 580px;
    height: 100%;
    color: rgb(65, 65, 65);
}

.header__button {
    background-color: rgb(18, 111, 154);
    padding: 6px 20px 6px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid rgb(18, 111, 154);
    font-size: 16px;
    position: relative;
    border-top-left-radius: 800px;
    border-bottom-left-radius: 800px;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
    top: 16px;
}

.header__img {
    flex: 0 1 580px;
    position: relative;
}

.header__img img {
    max-width: 100%;
    max-height: 100%;
    float: right;
}

.search {
    height: 118.800px;
    width: 100%;
    background-color: #DCEEF7;
}

.search__container {
    width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.search__inside {
    width: 100%;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.search__inside h3 {
    color: rgb(18, 111, 154);
}

.search__inside input {
    margin-top: 6px;
    background-color: white;
    border: 2px solid rgb(57, 63, 67);
    width: 750px;
    height: 50px;
    padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.content__layout {
    max-width: 1200px;
    /* height: 1101.95px; */
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.content__ads {
    display: flex;
    max-width: 1200px;
    height: 95.95px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.ads {
    background-color: white;
    flex: 0 1 200px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    border: 2px solid black;
}

.content__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.content__container ul {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    list-style: none;
}

.content__container ul li {
    margin-right: 20px;
    margin-bottom: 20px;
    flex-basis: 0 2 360px;
    height: 382px;

}

.content__box {
    width: 360px;
    height: 90px;
    background-color:rgb(18, 111, 154);
    border-radius: 5px;
    text-align: center;
    line-height: 90px;
}

.topic__link {
    font-size: 26px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.subject__content {
    width: 360px;
    height: 292px;
    background-color: rgb(220, 238, 247);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content__container h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.content__container a:nth-child(3) {
    text-decoration: none;
    width: 204.025px;
    height: 46px;
    font-size: 20px;
    text-align: center;
    line-height: 46px;
    border-radius: 23px;
    border: 1px solid rgb(18, 111, 154);
}

.footer {
    background-color:#F0F5FF;
    /* max-height: 234.4px; */
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

footer {
    display: flex;
    padding: 16px 24px 16px 24px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: 200px;
}

.grid__item {
    border: 1px solid black;
    padding: 16px 16px 16px 0px;
    margin-right: 16px;
}

.grid__item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid__item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.grid__item3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.grid__item4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.grid__item5 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

@media only screen and (max-width: 1080px) {
    .footer {
        height: 100%;
        width: 100%;
    }

    .grid__container {
        display: grid;
        grid-template-columns: repeat(4, max-width);
        grid-template-rows: 245px 245px;
    }

    .grid__item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .grid__item2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .grid__item3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    .grid__item4 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    
    .grid__item5 {
        margin-top: 20px;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    
}

@media only screen and (max-width: 856px) {
    .footer {
        height: 100%;
        width: 100%;
    }

    .grid__container {
        display: grid;
        grid-template-columns: 340px;
        grid-template-rows: repeat(5, 292px);
        grid-gap: 20px;
    }

    .grid__item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .grid__item2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .grid__item3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .grid__item4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    
    .grid__item5 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    
}